div.main {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    top: auto;
    left: 0;
    right: 0;
    height: 100%;
}
div.inner {
    background-color: #A0D751;
    width: 45%;
    border: none;
    border-radius: 15px;
    margin: auto;
    padding: 3%;
    padding-left: 2%;
    padding-right: 1.5%;
}
label {
    color: white;
    padding: 1%;
}
td.first {
    text-align: right;
}
small{
    font-size: x-small;
    width: auto;
}
