<div id="content" class="main">
    <br>
    <div class="row">
        <div class="col-12 col-m-12 col-t-12">
            <h1 class="component">Mein Profil</h1>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-2"></div>
        <div *ngIf="securityStatus.loggedIn && userProfile.username == securityStatus.username"
             class="inner col-8 col-t-12 col-m-12">

            <table>
                <tr class="row">
                    <td class="col-2 col-t-4 col-m-12 top">
                        <input type="button" value="Meine Fahrten" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]=" ['rides'] ">
                    </td>
                    <td class="col-2 col-t-4 col-m-12 top">
                        <input type="button" value="Gebuchte Fahrten" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]=" ['joinedRides'] ">
                    </td>
                    <td class="col-2 col-t-4 col-m-12 top">
                        <input type="button" value="Profil bearbeiten" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]="['edit']">
                    </td>
                    <td class="col-2 col-t-4 col-m-12 top">
                        <input type="button" value="Passwort ändern" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]="['changePassword']">
                    </td>
                    <td class="col-2 col-t-4 col-m-12 top">
                        <input type="button" value="E-Mail ändern" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]="['changeEmail']">
                    </td>
                    <td class="col-2 col-t-4 col-m-12 top ">
                        <input type="button" value="proaktives Matchen" class="col-12 col-t-12 col-m-12 btn"
                               [routerLink]="['proactiveMatchingConfiguration']">
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="securityStatus.loggedIn && userProfile.username !== securityStatus.username"
             class="inner col-8 col-t-12 col-m-12">

            <table>
                <tr class="row">
                    <td class="col-4 col-t-4 top"></td>
                    <td class="col-4 col-t-4 col-m-12 top">
                        <input type="button" value="Chat mit diesem User" class="col-12 col-t-12 col-m-12 btn"
                               (click)="toUserChat()">
                    </td>
                    <td class="col-4 col-t-4 top"></td>
                </tr>
            </table>
        </div>
        <div class="col-2"></div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-2 col-t-1"></div>

        <div *ngIf="userProfile" class="col-8 col-t-10 col-m-12 inner">
            <div class="row">
                <div class="col-4 col-t-4"></div>
                <div class="col-4 col-t-4 col-m-12 ">
                    <img [src]="userProfilePicturePath" onerror="this.src='/assets/img/profile/profilePicPlace.png'"
                         alt="Profilbild" width="125px" height="125px">
                </div>
                <div class="col-4 col-t-4"></div>
            </div>

            <div class="row">
                <div class="col-3 col-t-3"></div>
                <div class="col-6 col-t-6 col-m-12">
                    <table>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Vorname:</label>
                            </td>
                            <td class="second col-6 col-t-6 col-m-6">
                                {{userProfile.firstName}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Nachname:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.lastName}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Username:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.username}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>E-Mail-Adresse:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.email}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Geburtsdatum:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.dateOfBirth | date:'dd.MM.yyyy'}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Geschlecht:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.gender}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Beschreibung:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.description}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-t-3"></div>
            </div>

            <hr noshade>

            <div class="row">
                <div class="col-12 col-t-12 col-m-12">
                    <h2>Auto</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-t-12 col-m-12">
                    <img [src]="userCarPicturePath" onerror="this.src='/assets/img/profile/carPicPlace.png'"
                         alt="Autobild" width="125px" height="125px">
                </div>
            </div>

            <div class="row">
                <div class="col-3 col-t-3"></div>
                <div class="col-6 col-t-6 col-m-12">
                    <table>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Hersteller:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.carMake}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Modell:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.carModel}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Baujahr:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.carManufacturingYear}}
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">
                                <label>Beschreibung:</label>
                            </td>
                            <td class=" second col-6 col-t-6 col-m-6">
                                {{userProfile.carDescription}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-t-3"></div>
            </div>

            <hr noshade>

            <div class="row">
                <div class="col-3 col-t-3"></div>
                <div class="col-6 col-t-6 col-m-12">
                    <table>
                        <tr class="row">
                            <td class="first col-6 col-t-6 col-m-6">Durchschnittliche Bewertung:</td>
                            <td class="second col-6 col-t-6 col-m-6">{{avgRatingForUser | number:'1.1-2'}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-t-3"></div>
            </div>
        </div>


        <div class="col-2 col-t-1 "></div>

    </div>
    <br>
</div>
