div.main {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    top: auto;
    left: 0;
    right: 0;
    height: 100%;
}
div.inner {
    background-color: #A0D751;
    width: 35%;
    border: none;
    border-radius: 15px;
    margin: auto;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
label {
    color: white;
}