

div.main {
    padding-bottom: 20px;
}
div.inner {
    width: 50%;
    min-width: 350px;
    padding: 1%;
    padding-left: 2%;
}

table {
    width: 100%;
}

td {
    text-align: left;
    vertical-align: middle;
}

td.first {
    width: 30%;
}

td.second {
    width: 40%;
}

td.third {
    width: 30%;
    padding-left: 2%;
}

div.days {
    padding: 10px;
    align: center;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    color: #A0D751;
    margin: 0 auto;
}

.days input {
    margin-right: 3px;
}

label.heading {
    font-size: 28px;
}

hr {
    border-color: white;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}