<div class="main"><!-- id="content"  style="text-align: center;" -->
  <h1 class="component">Create Ride</h1>
  <br />

  <div class="inner">

  <form [formGroup]="createRideForm" (ngSubmit)="createRide()" style="text-align: center">
    <table>
      <tr>
        <td class="first"><label>Abfahrtsort:</label></td>
        <td class="second"><input class="strechtInputField" formControlName="start" type="text"></td>
        <td class="third"><small class="error-message" [hidden]="createRideForm.controls.start.valid || (createRideForm.controls.start.pristine && !submitted)">
          Bitte einen Abfahrtsort angeben.
        </small></td>
      </tr>
      <tr>
        <td class="first"><label>Ankunftsort:</label></td>
        <td class="second"><input class="strechtInputField" formControlName="destination" type="text"></td>
        <td class="third"><small class="error-message" [hidden]="createRideForm.controls.destination.valid || (createRideForm.controls.destination.pristine && !submitted)">
          Bitte einen Ankunftsort angeben.
        </small></td>
      </tr>
      </table>
    <br>
      <table>
      <tr>
        <td><h2>Hinfahrt</h2></td>
        <td><input type="checkbox" id="toAndReturnCheckBox" formContolName="returnRide" [(ngModel)]="showhide" [ngModelOptions]="{standalone: true}"> Hin- und Rückfahrt</td>
      </tr>
      <tr>
        <td class="first"><label>Abfahrtsdatum:</label></td>
        <td class="second"><input formControlName="departureDate" type="date" min=""></td>
        <td class="third"><small class="error-message" [hidden]="createRideForm.controls.departureDate.valid || (createRideForm.controls.departureDate.pristine && !submitted)">
          ungültiges Abfahrtsdatum
        </small></td>
      </tr>
      <tr>
        <td class="first"><label>Uhrzeit:</label></td>
        <td class="second"><input formControlName="departureHour" type="number" min="0" max="23" step="1">&nbsp;:
        <input formControlName="departureMinute" type="number" min="0" max="59" step="1"></td>
        <td class="third"><small class="error-message" [hidden]="createRideForm.controls.departureHour.valid || (createRideForm.controls.departureHour.pristine && !submitted)
                                                   && createRideForm.controls.departureMinute.valid || (createRideForm.controls.departureMinute.pristine && !submitted)">
          ungültige Uhrzeit
        </small></td>
      </tr>
    </table>
    <br>
    <div *ngIf="showhide">
        <table>
          <tr class="returnFormRow"><td><h2>Rückfahrt</h2></td></tr>
          <tr class="returnFormRow">
            <td class="first"><label>Abfahrtsdatum:</label></td>
            <td class="second"><input formControlName="departureDate" type="date" min=""></td>
            <td class="third"><small class="error-message" [hidden]="createRideForm.controls.departureDate.valid || (createRideForm.controls.departureDate.pristine && !submitted)">
              ungültiges Abfahrtsdatum
            </small></td>
          </tr>
          <tr>
            <td class="first"><label>Uhrzeit:</label></td>
            <td class="second"><input formControlName="departureHour" type="number" min="0" max="23" step="1">&nbsp;:
              <input formControlName="departureMinute" type="number" min="0" max="59" step="1"></td>
            <td class="third"><small class="error-message" [hidden]="createRideForm.controls.departureHour.valid || (createRideForm.controls.departureHour.pristine && !submitted)
                                                   && createRideForm.controls.departureMinute.valid || (createRideForm.controls.departureMinute.pristine && !submitted)">
              ungültige Uhrzeit
            </small></td>
          </tr>
      </table>
    </div>
    <br>
    <br>
    <div>
      <table>
        <tr>
          <td class="first">Freie Plätze</td>
          <td class="second"><input formControlName="freeSeats" type="number" min="1" max="10" step="1"></td>
          <td class="third"></td>
        </tr>
      </table>
    </div>
    <br />
    <br>
    <input type="checkbox" id="periodicRideCheckBox" formContolName="periodic" [(ngModel)]="showhidePeriodicFrom" [ngModelOptions]="{standalone: true}"> regelmäßige Fahrt
    <br />
    <br />
    <!-- TODO: automatically select the departure day  -->
    <div *ngIf="showhidePeriodicFrom" class="days">
      <table>
        <tr><td><input type="checkbox" id="monCheckBox"> Montag </td></tr>
        <tr><td><input type="checkbox" id="tueCheckBox"> Dienstag </td></tr>
        <tr><td><input type="checkbox" id="wedCheckBox"> Mittwoch </td></tr>
        <tr><td><input type="checkbox" id="thuCheckBox"> Donnerstag </td></tr>
        <tr><td><input type="checkbox" id="friCheckBox"> Freitag </td></tr>
        <tr><td><input type="checkbox" id="satCheckBox"> Samstag </td></tr>
        <tr><td><input type="checkbox" id="sunCheckBox"> Sonntag </td></tr>
      </table>
    </div>
    <br>
    <button type="submit" class="btn" [disabled]="submitDisabled">Fahrt erstellen</button>
  </form>
  </div>

</div>