<div class="main"><!-- id="content"  style="text-align: center;" -->
  <h1 class="component">Create Ride</h1>
  <br />

  <div class="inner">

  <form [formGroup]="createRideForm" (ngSubmit)="createRide()" style="text-align: center">
    <table>
      <tr>
        <td><label>Abfahrtsort:</label></td>
        <td><input class="strechtInputField" formControlName="start" type="text"></td>
        <td><small class="error-message" [hidden]="createRideForm.controls.start.valid || (createRideForm.controls.start.pristine && !submitted)">
          Bitte einen Abfahrtsort angeben.
        </small></td>
      </tr>
      <tr>
        <td><label>Ankunftsort:</label></td>
        <td><input class="strechtInputField" formControlName="destination" type="text"></td>
        <td><small class="error-message" [hidden]="createRideForm.controls.destination.valid || (createRideForm.controls.destination.pristine && !submitted)">
          Bitte einen Ankunftsort angeben.
        </small></td>
      </tr>
      <tr>
        <td><h2>Hinfahrt</h2></td>
        <td><input type="checkbox" id="toAndReturnCheckBox" [(ngModel)]="showhide" [ngModelOptions]="{standalone: true}"> Hin- und Rückfahrt</td>
      </tr>
      <tr>
        <td><label>Abfahrtsdatum:</label></td>
        <td>
          <table>
            <tr>
              <td><input formControlName="departureDate" type="date" min=""></td>
              <td><input formControlName="departureHour" type="number" min="0" max="23" step="1"></td>
              <td><input formControlName="departureMinute" type="number" min="0" max="59" step="1"></td>
            </tr>
          </table>
        </td>

        <td><small class="error-message" [hidden]="createRideForm.controls.departureDate.valid || (createRideForm.controls.departureDate.pristine && !submitted)
                                                   && createRideForm.controls.departureHour.valid || (createRideForm.controls.departureHour.pristine && !submitted)
                                                   && createRideForm.controls.departureMinute.valid || (createRideForm.controls.departureMinute.pristine && !submitted)">
          ungültiges Abfahrtsdatum
        </small></td>
      </tr>
    </table>
    <div *ngIf="showhide">
        <table >
          <tr class="returnFormRow"><h2>Rückfahrt</h2></tr>
          <tr class="returnFormRow">
            <td><label>Abfahrtsdatum:</label></td>
            <td>
              <table>
                <tr>
                  <td><input formControlName="returnDepartureDate" type="date" min=""></td>
                  <td><input formControlName="returnDepartureHour" type="number" min="0" max="23" step="1"></td>
                  <td><input formControlName="returnDepartureMinute" type="number" min="0" max="59" step="1"></td>
                </tr>
              </table>
            </td>
            <td><small class="error-message" [hidden]="createRideForm.controls.returnDepartureDate.valid || (createRideForm.controls.returnDepartureDate.pristine && !submitted)">
              ungültiges Abfahrtsdatum
            </small></td>
          </tr>
      </table>
    </div>
    <br />
    <div>
      <table>
        <tr>
          <td>Freie Plätze</td>
          <td><input formControlName="freeSeats" type="number" min="1" max="10" step="1"></td>
        </tr>
      </table>
    </div>
    <br />
    <input type="checkbox" id="periodicRideCheckBox" [(ngModel)]="showhidePeriodicFrom" [ngModelOptions]="{standalone: true}"> regelmäßige Fahrt
    <br />
    <br />
    <!-- TODO: automatically select the departure day  -->
    <div *ngIf="showhidePeriodicFrom">
      <input type="checkbox" id="monCheckBox"> Montag
      <br />
      <input type="checkbox" id="tueCheckBox"> Dienstag
      <br />
      <input type="checkbox" id="wedCheckBox"> Mittwoch
      <br />
      <input type="checkbox" id="thuCheckBox"> Donnerstag
      <br />
      <input type="checkbox" id="friCheckBox"> Freitag
      <br />
      <input type="checkbox" id="satCheckBox"> Samstag
      <br />
      <input type="checkbox" id="sunCheckBox"> Sonntag
      <br />
      <br />
    </div>
    <button type="submit" class="btn" [disabled]="submitDisabled">Fahrt erstellen</button>
  </form>
  </div>

</div>