<div>
    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li>
                <a [routerLink]=" ['./home'] ">
                    Home
                </a>
            </li>
            <li>
                <a [routerLink]=" ['./about'] ">
                    Über JoinMe
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./home'] ">
                    Fahrt suchen
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./createRide'] ">
                    Fahrt erstellen
                </a>
            </li>
            <li *ngIf="!securityStatus.loggedIn" style="margin-left: 200px;">
                <a [routerLink]=" ['./register'] ">
                    Registrieren
                </a>
            </li>
            <li *ngIf="!securityStatus.loggedIn">
                <a [routerLink]=" ['./login'] ">
                    Login
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./profile'] ">
                    Mein Profil
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a (click)="logout()" [routerLink]=" ['./home']">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</div>