<div class="main"><!-- id="content"  style="text-align: center;" -->
    <br><br>
    <h1 class="component">Fahrt anbieten</h1>
    <br/>

    <div class="inner">

        <form [formGroup]="rideForm" (ngSubmit)="createRide()" style="text-align: center">
            <table>
                <tr>
                    <td class="first"><label>Abfahrtsort:</label></td>
                    <td class="second"><input class="strechtInputField" formControlName="start" type="text"></td>
                    <td class="third">
                        <small class="error-message"
                               [hidden]="rideForm.controls.start.valid || (rideForm.controls.start.pristine && !submitted)">
                            Bitte einen Abfahrtsort angeben.
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="first"><label>Ankunftsort:</label></td>
                    <td class="second"><input class="strechtInputField" formControlName="destination" type="text"></td>
                    <td class="third">
                        <small class="error-message"
                               [hidden]="rideForm.controls.destination.valid || (rideForm.controls.destination.pristine && !submitted)">
                            Bitte einen Ankunftsort angeben.
                        </small>
                    </td>
                </tr>
            </table>
            <hr noshade>
            <table>
                <tr>
                    <td><label class="heading"><b>Hinfahrt</b></label></td>
                    <td><input type="checkbox" id="toAndReturnCheckBox" formControlName="returnRide"> Hin- und Rückfahrt
                    </td>
                </tr>
                <tr>
                    <td class="first"><label>Abfahrtsdatum:</label></td>
                    <td class="second"><input formControlName="departureDate" type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" style="width:100%">
                    </td>
                    <td class="third">
                        <small class="error-message"
                               [hidden]="rideForm.controls.departureDate.valid || (rideForm.controls.departureDate.pristine && !submitted)">
                            ungültiges Abfahrtsdatum
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="first"><label>Uhrzeit:</label></td>
                    <td class="second">
                        <input formControlName="departureHour" type="number" min="0" max="23">&nbsp;:
                        <input formControlName="departureMinute" type="number" min="0" max="59" step="5">
                    </td>
                    <td class="third">
                        <small class="error-message" [hidden]="rideForm.controls.departureHour.valid || (rideForm.controls.departureHour.pristine && !submitted)
                                                   && rideForm.controls.departureMinute.valid || (rideForm.controls.departureMinute.pristine && !submitted)">
                            ungültige Uhrzeit
                        </small>
                    </td>
                </tr>
            </table>
            <br>
            <div *ngIf="getReturnRide()">
                <table>
                    <tr class="returnFormRow">
                        <td class="first"><label class="heading"><b>Rückfahrt</b></label></td>
                    </tr>
                    <tr class="returnFormRow">
                        <td class="first"><label>Abfahrtsdatum:</label></td>
                        <td class="second"><input formControlName="returnDepartureDate" type="date" min="{{currentDate | date:'yyyy-MM-dd'}}"
                                                  style="width:100%"></td>
                        <td class="third">
                            <small class="error-message"
                                   [hidden]="rideForm.controls.returnDepartureDate.valid || (rideForm.controls.returnDepartureDate.pristine && !submitted)">
                                ungültiges Abfahrtsdatum
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td class="first"><label>Uhrzeit:</label></td>
                        <td class="second">
                            <input formControlName="returnDepartureHour" type="number" min="0" max="23">&nbsp;:
                            <input formControlName="returnDepartureMinute" type="number" min="0" max="55" step="5"></td>
                        <td class="third">
                            <small class="error-message" [hidden]="rideForm.controls.returnDepartureHour.valid || (rideForm.controls.returnDepartureHour.pristine && !submitted)
                                                   && rideForm.controls.returnDepartureMinute.valid || (rideForm.controls.returnDepartureMinute.pristine && !submitted)">
                                ungültige Uhrzeit
                            </small>
                        </td>
                    </tr>
                </table>
            </div>
            <hr noshade>
            <div>
                <table>
                    <tr>
                        <td class="first">Freie Plätze</td>
                        <td class="second">
                            <input formControlName="maxPassengers" type="number" min="1" max="10">
                        </td>
                        <td class="third"></td>
                    </tr>
                </table>
            </div>
            <hr noshade>
            <input type="checkbox" id="periodicRideCheckBox" formControlName="periodic"> regelmäßige Fahrt
            <br/>
            <!-- TODO: automatically select the departure day  -->
            <div *ngIf="getPeriodic()">
                <br/>
                <div class="days">

                    <table>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[0]">Montag
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[1]">Dienstag
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[2]">Mittwoch
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[3]">Donnerstag
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[4]">Freitag
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[5]">Samstag
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       [formControl]="rideForm.controls['periodicDays'].controls[6]">Sonntag
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr noshade>
            <div>
                <label>Bemerkung (max 400 Zeichen)</label>
                <br>
                <textarea formControlName="notes" rows="6" cols="50" maxlength="400"></textarea>
            </div>
            <hr noshade>
            <button type="submit" class="btn" [disabled]="submitDisabled">Fahrt erstellen</button>
        </form>
    </div>

</div>