@media only screen and (min-width: 769px) and (orientation: landscape){
    /* For desktop: */
    .autoMapsSize{
        width: 80%;
    }
    td.inputField{
        width: 27%;
        margin: 0;
        padding: 1%;
    }
    td.buttonField {
        width: auto;
        margin: 0;
        padding: 0.8%;
        vertical-align: middle;
    }
}


@media only screen and (min-width: 600px) {
    /*For Tabletts */
    td{
        width: 25%;
    }
}