#content{
    text-align: center;
}

img {
    border-radius: 10%;
}

img.logo {
    height: auto;
    max-width: 100%;
}
.marginButton{
    margin-top: 17px;
}
.marginButton2{
    margin-top: 15px;
}

.tableheight {
    height: 100%;
    align-content: center;
    width: 100%;
}

h2.text{
    color: #333333;
}


@media only screen and (min-width: 600px) {
    /* For tablets  */
    div.inner {
        background-color: #A0D751;
        width: 100%;
        border: none;
        border-radius: 15px;
        margin: auto;
        text-align: center;
    }
    input.text {
        width: 99%;
    }
    .tdsize1 {
        height: 100%;
        width: 25%;
        align-content: center;
    }
    .tdsize2Tablet {
        height: 100%;
        width: auto;
        align-content: center;
    }
}


@media only screen and (min-width: 769px) and (orientation: landscape){
    /* For desktop: */
    div.inner {
        background-color: #A0D751;
        min-width: 50%;
        width: auto;
        max-width: 80%;
        border: none;
        border-radius: 15px;
        margin: auto;
        text-align: center;
    }
    .tdsize1 {
        height: 100%;
        width: 25%;
        align-content: center;
    }
    .tdsize2PC {
        line-height: 200%;
        width: auto;
        align-content: center;
    }
    div.marginLeft{
        margin-left: 1.5%;
    }
    div.logoTop {
        border-radius: 10%;
        text-align: left;
    }
    div.colMarginTop{
        margin-top: 50px;
    }
}

[class*="dateTimeWidth"] {
    width: 35%;
}