#content{
    text-align: center;
}

img {
    border-radius: 10%;
}

img.logo {
    height: auto;
    max-width: 100%;
}
.marginButton{
    margin-top: 17px;
}
.marginButton2{
    margin-top: 15px;
}

.tableheight {
    height: 100%;
    align-content: center;
    width: 100%;
}

h2.text{
    color: #333333;
}