/*#content{*/
/*padding: 20px;*/
/*display: inline-block;*/
/*background-color: white;*/
/*color: #333333;*/
/*}*/

.strechtInputField{
    width: 100%;
}
div.main {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    top: auto;
    left: 0;
    right: 0;
    height: 100%;
    /* position: fixed; */
}
div.inner {
    background-color: #A0D751;
    width: 50%;
    border: none;
    border-radius: 15px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
    min-width: 670px;
}
label {
    color: white;
}
td{
    width: auto;
}