<div class="container">
    <!--<header-menu></header-menu>
    <div>-->
    <header>
        <div class="topnav" id="myTopnav">
            <span class="spaceholder">&nbsp;</span>
            <a [routerLink]=" ['./home'] ">
                Home
            </a>
            <a [routerLink]=" ['./about'] ">
                Über JoinMe
            </a>
            <a *ngIf="securityStatus.loggedIn" [routerLink]=" ['./searchRide'] ">
                Fahrt suchen
            </a>
            <a *ngIf="securityStatus.loggedIn" [routerLink]=" ['./createRide'] ">
                Fahrt anbieten
            </a>
            <a *ngIf="!securityStatus.loggedIn" [routerLink]=" ['./register'] ">
                Registrieren
            </a>
            <a *ngIf="!securityStatus.loggedIn" [routerLink]=" ['./login'] ">
                Login
            </a>
            <a *ngIf="securityStatus.loggedIn" [routerLink]=" ['./profile/' + securityStatus.username]">
                Mein Profil
            </a>
            <a *ngIf="securityStatus.loggedIn" (click)="logout()" [routerLink]=" ['./home']">
                Logout
            </a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
        </div>
    </header>
    <div class="content" (click)="hideMenu()">
    <br/><br/><br/>

    <div class="row">
        <div class="col-12 col-m-12 col-t-12"><h1 class="joinme">JoinMe</h1></div>
    </div>
    <!--<nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li *ngIf="!securityStatus.loggedIn">
                &nbsp;
            </li>
            <li>
                <a [routerLink]=" ['./home'] ">
                    Home
                </a>
            </li>
            <li>
                <a [routerLink]=" ['./about'] ">
                    Über JoinMe
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./searchRide'] ">
                    Fahrt suchen
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./createRide'] ">
                    Fahrt anbieten
                </a>
            </li>
            <li *ngIf="!securityStatus.loggedIn">
                <a [routerLink]=" ['./register'] ">
                    Registrieren
                </a>
            </li>
            <li *ngIf="!securityStatus.loggedIn">
                <a [routerLink]=" ['./login'] ">
                    Login
                </a>
            </li>
            <li *ngIf="!securityStatus.loggedIn">
                &nbsp;
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a [routerLink]=" ['./profile/' + securityStatus.username]">
                    Mein Profil
                </a>
            </li>
            <li *ngIf="securityStatus.loggedIn">
                <a (click)="logout()" [routerLink]=" ['./home']">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <!--</div>-->
        <message></message>
    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <img class="flogo" src="assets/img/joinme/FooterLogo.png" width="50px" height="50px">
    </footer>
    </div>
</div>



<!--<footer>-->
<!--<span>JoinMe</span>-->
<!--</footer>-->
