/*
  !! NOTICE !!
  The CSS in this file can be used in each component because of the "encapsulation: ViewEncapsulation.None" in the component definition.
  All other components CSS without this definition can only be used within this one component.
  !!
*/

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Alte Farbe: #2980b9, lime*/
body  {
  background: #A0D751;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

.container {
  padding: 80px;
}

h1.component {
  color: #A0D751;
  text-align: center;
}

span.active {
  background-color: gray;
}

.error-message {
  color: red;
}


/*
  Button-Design
  http://css3buttongenerator.com/
  made by Steffi~
*/
.btn {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #fafafa);
  background-image: -moz-linear-gradient(top, #fafafa, #fafafa);
  background-image: -ms-linear-gradient(top, #fafafa, #fafafa);
  background-image: -o-linear-gradient(top, #fafafa, #fafafa);
  background-image: linear-gradient(to bottom, #fafafa, #fafafa);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #ebebeb);
  background-image: -moz-linear-gradient(top, #ebebeb, #ebebeb);
  background-image: -ms-linear-gradient(top, #ebebeb, #ebebeb);
  background-image: -o-linear-gradient(top, #ebebeb, #ebebeb);
  background-image: linear-gradient(to bottom, #ebebeb, #ebebeb);
  text-decoration: none;
}