<div id="content" class="main">
    <br>
    <div class="row">
        <div class="col-12 col-t-12 col-m-12">
            <h1 class="component">Meine Fahrten</h1>
        </div>
    </div>

    <br/>

    <div class="row">

        <div class="col-3 col-t-3 "></div>

        <div class="inner col-6 col-t-6 col-m-12">
            <div>
                <div class="ride" *ngFor="let ride of rides" (click)="goToDetails(ride)">
                    <div>
                        <!-- TODO display year when it's not the current year -->
                        <span>{{ ride.departureDateTime | timezonifyDate | date:'EEEE - d. MMMM' }} </span>
                        <span class="ridetitle">{{ ride.departureDateTime | timezonifyDate | date:'HH:mm' }}</span>
                    </div>
                    <div>
                        <span>{{ ride.start }}</span> - <span>{{ ride.destination }}</span>
                        <span *ngIf="ride.returnDepartureDateTime"> und zurück</span>
                    </div>
                    <div>
                        <span>Freie Plätze: </span><span>{{ ride.freeSeats }}</span>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-3 col-t-3 "></div>

    </div>
    <br>
</div>