<div id="content" class="main">
    <br>
    <h1 class="component">Details</h1>
    <br/>

    <div class="inner">
        <div>
            <table>
                <tr>
                    <td><label class="description">Abfahrtsort:</label></td>
                    <td><label class="content">{{ ride.start }}</label></td>
                </tr>
                <tr>
                    <td><label class="description">Zielort:</label></td>
                    <td><label class="content"> {{ ride.destination }}</label></td>
                </tr>
                <tr>
                    <td><label class="description">Freie Plätze:</label></td>
                    <td><label class="content">{{ ride.maxPassengers }}</label></td>
                </tr>
                <tr *ngIf="ride.returnDepartureDateTime">
                    <td><h3>Hinfahrt</h3></td>
                </tr>
                <tr>
                    <td><label class="description">Abfahrt:</label></td>
                    <td><label class="content">{{ ride.departureDateTime | timezonifyDate | date:'dd.MM.yyyy' }}</label>
                    </td>
                    <td><label class="content">{{ ride.departureDateTime | timezonifyDate | date:'HH:mm' }}</label></td>
                </tr>
            </table>

            <div *ngIf="ride.returnDepartureDateTime">
                <table>
                    <tr>
                        <td><h3>Rückfahrt</h3></td>
                    </tr>
                    <tr>
                        <td><label class="description">Abfahrt:</label></td>
                        <td><label class="content">{{ ride.returnDepartureDateTime | timezonifyDate | date:'dd.MM.yyyy'
                            }}</label></td>
                        <td><label class="content">{{ ride.returnDepartureDateTime | timezonifyDate | date:'HH:mm'
                            }}</label></td>
                    </tr>
                </table>
                <br>
            </div>

            <table>
                <tr>
                    <!-- TODO make something else when there are no notes-->
                    <td><label class="description">Bemerkungen:</label></td>
                    <td class="bemerkung">
                        <div *ngIf="ride.notes">{{ ride.notes }}</div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <br>

            <div *ngIf="ride.startPlaceId && ride.destinationPlaceId" >
                <maps-ride-route [ride]="ride"></maps-ride-route>
            </div>
            <div *ngIf="rideJoins.length != 0">
                Mitfahrer auf dieser Fahrt
                <div *ngFor="let rideJoin of rideJoins">
                    <span>{{ rideJoin.userProfileDto.username }}</span>
                </div>
            </div>
            <div *ngIf="rideJoins.length === 0">
                bisher noch keine Mitfahrer
            </div>

            <div *ngIf="isMyRide()">
                <input type="button" class="btn" value="Bearbeiten" (click)="goToUpdate()">
            </div>
            <div *ngIf="!isMyRide()">
                <input type="button" class="btn" value="Join" (click)="joinRide()">
            </div>

        </div>
    </div>

    <br>
</div>
