<div id="content" class="main">
    <br>
    <h1 class="component">Details</h1>
    <br/>

    <div class="inner">
        <div *ngIf="ride">

            <table>
                <tr>
                    <td><label class="des">Abfahrtsort:</label></td>
                    <td><label class="cont">{{ ride.start }}</label></td>
                </tr>
                <tr>
                    <td><label class="des">Zielort:</label></td>
                    <td><label class="cont"> {{ ride.destination }}</label></td>
                </tr>
                <tr>
                    <td><label class="des">Freie Plätze:</label></td>
                    <td><label class="cont">{{ ride.maxPassengers }}</label></td>
                </tr>
                <tr *ngIf="ride.returnDepartureDateTime">
                    <td><h3>Hinfahrt</h3></td>
                </tr>
                <tr>
                    <td><label class="des">Abfahrt:</label></td>
                    <td><label class="cont">{{ ride.departureDateTime | timezonifyDate | date:'dd.MM.yyyy' }}</label>
                    </td>
                    <td><label class="cont">{{ ride.departureDateTime | timezonifyDate | date:'HH:mm' }}</label></td>
                </tr>
            </table>


            <div *ngIf="ride.returnDepartureDateTime">
                <table>
                    <tr>
                        <td><h3>Rückfahrt</h3></td>
                    </tr>
                    <tr>
                        <td><label class="des">Abfahrt:</label></td>
                        <td><label class="cont">{{ ride.returnDepartureDateTime | timezonifyDate | date:'dd.MM.yyyy'
                            }}</label></td>
                        <td><label class="cont">{{ ride.returnDepartureDateTime | timezonifyDate | date:'HH:mm'
                            }}</label></td>
                    </tr>
                </table>
                <br>
            </div>

            <table>
                <tr>
                    <!-- TODO make something else when there are no notes-->
                    <td><label class="des">Bemerkungen:</label></td>
                    <td class="bemerkung">
                        <div *ngIf="ride.notes">{{ ride.notes }}</div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <br>

            <div *ngIf="ride.startPlaceId && ride.destinationPlaceId">
                <maps-ride-route [ride]="ride"></maps-ride-route>
            </div>

            <div *ngIf="isMyRide()" class="myRide">
                <input type="button" class="btn" value="Bearbeiten" (click)="goToUpdate()">
            </div>

        </div>
    </div>

    <br>
</div>
